html, body {
    height: 100%
}

body {
    width: 100%;
    margin: 0;
    font-family: "courier new", monospace;
}

#main-wrapper {
    height: 100%;
    overflow-x: hidden;
    /*background-color: #89c6b4;*/
}

#wrapper-home {
    height: 100%;
    background-size: cover;
    margin: 0 auto;
    max-width: 670px;
    background-position: center;
}

.home-form {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    height: 100%;
}

.home-form > input[type=text] {
    font-family: "courier new", monospace;
}

.home-form > h6 {
    color: red;
    margin-top: 10px
}

.home-form > input[type=text]:focus {
    outline: none
}

.home-form > input[type=submit] {
    width: 100px;
    line-height: 2;
}

#wrapper-game {
}

.canvas-wrapper {
    display: flex;
    justify-content: center;
}

.game-top-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    font-size: 16px;
    font-weight: 600;
    padding: 6px;
}

#game-overlay {
    background-color: rgba(156, 185, 138, 0.8);
    position: fixed;
    height: 100%;
    width: 100vw;
    display: flex;
    flex-flow:column;
    align-items: center;
    padding: 30px 14px 0;
    text-align: center;
    box-sizing: border-box;
    justify-content: space-evenly;
}

#game-overlay > h3 {
    margin: 10px 0;
}

#wrapper-leaderboard {
    text-align: center;
}

#table-wrapper {

}

table {
    margin: 0 auto 30px;
}

th, td {
    padding: 5px
}

.btn {

}